/* User Provided CSS - Scoped */

/* Apply base styles only within the wrapper */
.interstitial-theme {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #414f57;
    font-size: 14pt;

    /* Reset simulation inside the wrapper */
    box-sizing: border-box;
}

.interstitial-theme * {
    box-sizing: border-box;
}

.interstitial-theme div,
.interstitial-theme span,
.interstitial-theme applet,
.interstitial-theme object,
.interstitial-theme iframe,
.interstitial-theme h1,
.interstitial-theme h2,
.interstitial-theme h3,
.interstitial-theme h4,
.interstitial-theme h5,
.interstitial-theme h6,
.interstitial-theme p,
.interstitial-theme blockquote,
.interstitial-theme pre,
.interstitial-theme a,
.interstitial-theme abbr,
.interstitial-theme acronym,
.interstitial-theme address,
.interstitial-theme big,
.interstitial-theme cite,
.interstitial-theme code,
.interstitial-theme del,
.interstitial-theme dfn,
.interstitial-theme em,
.interstitial-theme img,
.interstitial-theme ins,
.interstitial-theme kbd,
.interstitial-theme q,
.interstitial-theme s,
.interstitial-theme samp,
.interstitial-theme small,
.interstitial-theme strike,
.interstitial-theme strong,
.interstitial-theme sub,
.interstitial-theme sup,
.interstitial-theme tt,
.interstitial-theme var,
.interstitial-theme b,
.interstitial-theme u,
.interstitial-theme i,
.interstitial-theme center,
.interstitial-theme dl,
.interstitial-theme dt,
.interstitial-theme dd,
.interstitial-theme ol,
.interstitial-theme ul,
.interstitial-theme li,
.interstitial-theme fieldset,
.interstitial-theme form,
.interstitial-theme label,
.interstitial-theme legend,
.interstitial-theme table,
.interstitial-theme caption,
.interstitial-theme tbody,
.interstitial-theme tfoot,
.interstitial-theme thead,
.interstitial-theme tr,
.interstitial-theme th,
.interstitial-theme td,
.interstitial-theme article,
.interstitial-theme aside,
.interstitial-theme canvas,
.interstitial-theme details,
.interstitial-theme embed,
.interstitial-theme figure,
.interstitial-theme figcaption,
.interstitial-theme footer,
.interstitial-theme header,
.interstitial-theme hgroup,
.interstitial-theme menu,
.interstitial-theme nav,
.interstitial-theme output,
.interstitial-theme ruby,
.interstitial-theme section,
.interstitial-theme summary,
.interstitial-theme time,
.interstitial-theme mark,
.interstitial-theme audio,
.interstitial-theme video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.interstitial-theme article,
.interstitial-theme aside,
.interstitial-theme details,
.interstitial-theme figcaption,
.interstitial-theme figure,
.interstitial-theme footer,
.interstitial-theme header,
.interstitial-theme hgroup,
.interstitial-theme menu,
.interstitial-theme nav,
.interstitial-theme section {
    display: block;
}

.interstitial-theme ol,
.interstitial-theme ul {
    list-style: none;
}

.interstitial-theme blockquote,
.interstitial-theme q {
    quotes: none;
}

.interstitial-theme table {
    border-collapse: collapse;
    border-spacing: 0;
}

.interstitial-theme .layer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.1;
    background: url("/images/gaber.png");
    background-size: contain;
}

.interstitial-theme a {
    transition: color 0.2s ease, border-color 0.2s ease;
    color: inherit;
    text-decoration: none;
}

.interstitial-theme a:hover {
    color: #ff7496;
}

.interstitial-theme strong,
.interstitial-theme b {
    color: #313f47;
}

.interstitial-theme em,
.interstitial-theme i {
    font-style: italic;
}

.interstitial-theme p {
    margin: 0 0 1.5em 0;
}

.interstitial-theme h1,
.interstitial-theme h2,
.interstitial-theme h3,
.interstitial-theme h4,
.interstitial-theme h5,
.interstitial-theme h6 {
    color: #313f47;
    line-height: 1.5;
    margin: 0 0 0.75em 0;
}

.interstitial-theme h1 {
    font-size: 1.85em;
    letter-spacing: 0.22em;
    margin: 0 0 0.525em 0;
}

/* Button */
.interstitial-theme input[type="submit"],
.interstitial-theme button,
.interstitial-theme .button {
    appearance: none;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    display: inline-block;
    height: 2.75em;
    line-height: 2.75em;
    padding: 0 1.5em;
    background-color: transparent;
    border-radius: 4px;
    border: solid 1px #6f7173;
    color: #414f57 !important;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;

    /* Reset font props for buttons */
    font-family: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
}

.interstitial-theme input[type="submit"]:hover,
.interstitial-theme button:hover,
.interstitial-theme .button:hover {
    border-color: #ff7496;
    color: #ff7496 !important;
}

/* Main */
.interstitial-theme #main {
    position: relative;
    max-width: 77%;
    min-width: 27em;
    margin: 0 auto;
    padding: 1.5em 3em 3em 3em;
    background: #ffffffc9;
    border-radius: 4px;
    cursor: default;
    opacity: 0.95;
    text-align: center;
    transform-origin: 50% 50%;
    transform: rotateX(0deg);
    transition: opacity 1s ease, transform 1s ease;
}

.interstitial-theme #main .avatar {
    position: relative;
    display: block;
    margin-bottom: 1.5em;
}

.interstitial-theme #main .avatar img {
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    border: 4px solid #08a908bd;
    padding: 6px;
}

.interstitial-theme #main .avatar:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: -3em;
    width: calc(100% + 6em);
    height: 1px;
    z-index: -1;
    background: #c8cccf;
}

@media screen and (max-width: 480px) {
    .interstitial-theme #main {
        min-width: 0;
        width: 100%;
        padding: 1em 2em 2.5em 2em;
    }

    .interstitial-theme #main .avatar:before {
        left: -2em;
        width: calc(100% + 4em);
    }

    .interstitial-theme #main .avatar img {
        max-width: 60%;
    }
}

/* Wrapper */
.interstitial-theme #wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    perspective: 1000px;
    position: relative;
    min-height: 100%;
    padding: 1.5em;
    z-index: 2;
    width: 100vw;
    height: 100vh;
}

.interstitial-theme #wrapper>* {
    z-index: 1;
}

.interstitial-theme .center {
    text-align: center;
}

/* Font Faces */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdu.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Prevent Selection */
* :is(input, textarea) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}